@mixin menu-mobile {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: $z-mobile-menu;

    &.hide {
      width: 240px;
    }

    &.show {
      width: 64px;
    }
  }

  .menu-mobile-bg {
    &.hide {
      display: block;
    }
  }
}