$prefix: 'u-';

// Padding && margin step
$size: 0.25rem;


// color

$bl: #1B1D21;
$wh: #ffffff;
$purple: #6C5DD3;
$purple-light: #CFC8FF;
$text: #11142D;
$gray-dark: #808191;
$gray-light: #B2B3BD;
$red: #FF754C;
$pink: #FFA2C0;
$pink-light: #FFEBF6;
$yellow: #FFCE73;
$yellow-light: #FFE2AC;
$blue: #3F8CFF;
$blue-light: #A0D7E7;
$blue-dark: #0049C6;
$border: #E4E4E4;
$green: #7FBA7A;
$link: #5F75EE;
$fon: rgb(241, 242, 246);